* {margin: 0; 
    padding: 0;
        box-sizing: border-box;
font-family: Roboto;}

body {background-color: antiquewhite}

#wrapper {
    max-width: 1000px;
    margin: auto auto;
    background-color: white;
}
 .big {width: 100%;
 display: block;
}

nav {
    background-color: black;
}

article {
    margin-top: 30px;
    margin-bottom:20px;
    padding: 0 20px;
}

article h1 {
    font-size:30px;
    text-align:center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;
    
}



article h2 {font-size: 30px;
    text-align:center;
    margin: 0 10% 20px 10%;
    margin-top: auto;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}


footer {
    height:200px 10%;
    background-color: darkcyan;
    color:white;
    line-height: 40px;
    text-align: center;
    margin-top:10px;
}