.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    position: relative;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

footer {
    height:300px 10%;
    background-color: darkcyan;
    color:white;
    line-height: 40px;
    text-align: center;
    margin-top:10px;
}

footer a {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;
}