* {margin: 0; 
    padding: 0;
        box-sizing: border-box;
font-family: Roboto;}

body {background-color: antiquewhite}

#wrapper {
    max-width: 1000px;
    margin: auto auto;
    background-color: white;
}
 .big {width: 100%;
 display: block;
}

nav {
    background-color: black;
}

.gallery {
    margin: 10px 50px;
    
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
    height:150px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
article {
    margin-top: 30px;
    margin-bottom:20px;
    padding: 0 20px;
}

article h1 {
    font-size:30px;
    text-align:center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

article p {
    width: 600px;
    text-align: center;
    margin: 0 10% 20px 10%;
    line-height: 1.8; 
    font-size: 22px;
    vertical-align: center;
    padding: 10px 10% 10px 10%;
    position: relative;left:12%;bottom:0px;
    
}


article h2 {font-size: 30px;
    text-align:center;
    margin: 0 10% 20px 10%;
    margin-top: auto;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}



.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
    margin: 25px;
}

.container {
  position: relative; top: auto; left:10%;
  width: 75%;
    border: 5px;
}